<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
   <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/add">Add Note</a>
    </li>
</ul>
</nav>


<div class="row" *ngIf="notes != undefined && notes.length != 0">
  <p class="text-center h1 fw-bold  mt-4">Notes
  </p>
  
      <div class="row py-2 mb-3" *ngFor="let note of notes ; let i = index">
        <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 80vw;">
            <div class="card-header">Note - {{i+1}}</div>
            <div class="card-body">
              <p class="card-text">{{note.body}}</p>
            </div>
            <button type="button" class="btn btn-danger mb-3" (click)="delete(note.id)">Delete</button>
          </div>
      </div>
 
</div>